.prodcut-container{
  background: #fff;
  margin-top: 5rem;
}
.prodcut-container h2{
	text-align: center;
	font-size: 2.3rem;
	text-decoration: 4px underline;
	margin-bottom: 2rem;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  gap: 7rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .products {
    gap: 1rem;
  }
}

