.hero-section{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.hero-section video{
  position: absolute;
  top: 0;
  left: 0;
  width: 140vw;
  height: 100vh;
  object-fit: cover;
}
.hero-section .heading{
  position: relative;
  z-index: 33;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: normal;
  padding: 5rem 2rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
.note{
  position: absolute;
  bottom: 2%;
  left: 1%;
  text-decoration: underline;
}

@media (max-width:768px){
  .note{
    color: #d9d7d7;
  }
  .hero-section .heading{
    font-size: 1.77rem;
    padding: 0.2rem 0.6rem;
  }
}