.hero-section{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.hero-section video{
  position: absolute;
  top: 0;
  left: 0;
  width: 140vw;
  height: 100vh;
  object-fit: cover;
}
.hero-section .heading{
  position: relative;
  z-index: 33;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: normal;
  padding: 9rem 2rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

@media (max-width:768px){
  .hero-section .heading{
    font-size: 1.77rem;
    padding: 7rem 0.6rem;
  }
}
@media (max-width:425px){
  .hero-section .heading{
    font-size: 1.4rem;
    padding: 6rem 0.9rem;
  }
}