.product-heading {
    text-align: center;
    font-size: 4rem;
    text-decoration: 4px solid underline;
}

.products{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 2rem;
    width: 100%;
    gap: 4rem;
    margin-top: 1rem;
    padding: 20px;
    padding-top: 0;
    height: auto;
}

@media (max-width: 768px) {
  .products {
    gap: 1rem;
  }
}