* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: rgb(36, 13, 5);
  background-color: #fff;
  overflow-x: hidden;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-container {
  width: 100%;
  margin-top: 1rem;
  position: relative;
  display: flex;
  background-color: #d9d7d7;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.outer-container .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.outer-container .container {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: #d9d7d7;
  background-color: transparent;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  width: 90%;
}


.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.image-section {
  flex-basis: 40%;
}

.pastry-image {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.text-section {
  flex-basis: 50%;
  position: relative;
  z-index: 88;
}

.text-section h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.3rem;
}

.text-section ul {
  list-style: none;
  font-size: 14px;
}

.text-section ul li {
  margin-bottom: 0.8rem;
}

.text-section ul li strong {
  font-weight: bold;
}

@media (max-width: 1024px) {
  .outer-container .container {
    align-items: center;
    text-align: center;
  }

  .pastry-image {
    width: 60%;
  }

  .content {
    gap: 1.5rem;
  }

  .text-section,
  .image-section {
    flex-basis: 100%;
  }

  .text-section h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .description {
    font-size: 0.95rem;
  }

  .text-section ul {
    font-size: 0.9rem;
  }

  .pastry-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .outer-container .container {
    padding: 1.5rem 1rem;
    width: 95%;
  }
  .content{
    flex-direction: column;
    gap: 0.2rem;
  }
  .pastry-image {
    width: 50%;
  }

  .text-section h1 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }

  .description {
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
  }

  .text-section ul {
    font-size: 0.6rem;
    margin: 1rem 0 3.3rem 0;
  }

  .text-section ul li {
    margin-bottom: 0rem;
  }
}